
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" data-toggle="modal" data-target="#modalData"><i class="fas fa-user-plus"></i> Nuevo Usuario</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>DNI</th>
                            <th>Apellidos</th>
                            <th>Nombres</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Domicilio</th>
                            <th>Estado</th>
                            <th>Provincia</th>
                            <th>Localidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>41599035</td>
                            <td>Perez Quinteros</td>
                            <td>Facundo</td>
                            <td>3521513459</td>
                            <td>perezfaq98@gmail.com</td>
                            <td>General Paz 439</td>
                            <td><span class="badge badge-danger">No Activo</span></td>
                            <td>Cordoba</td>
                            <td>Dean Funes</td>
                            <td>
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalle Usuario</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" value="0" id="txtId">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtDNI">DNI</label>
                                    <input type="number" class="form-control form-control-sm input-validar" id="txtDNI" name="DNI">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtApellidos">Apellidos</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtApellidos" name="Apellidos">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtNombres">Nombres</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNombres" name="Nombres">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtFechaNac">Fecha de nacimiento</label>
                                    <input type="datetime" class="form-control form-control-sm input-validar" id="txtFechaNac" name="FechaNac">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtTelefono">Telefono</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtTelefono" name="Telefono">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtDomicilio">Domicilio</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDomicilio" name="Domicilio">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cbEstado">Estado</label>
                                    <select class="form-control form-control-sm" id="cbEstado">
                                        <option value="1">Adeuda</option>
                                        <option value="2">No adeuda</option>
                                        <option value="3">Activo</option>
                                        <option value="4">Inactivo</option>
                                        <option value="5">En viaje</option>
                                        <option value="6">En receso</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cbProvincia">Provincia</label>
                                    <select class="form-control form-control-sm" id="cbProvincia">
                                        <option value="1">CABA</option>
                                        <option value="2">Buenos Aires</option>
                                        <option value="3">Chaco</option>
                                        <option value="4">Chubut</option>
                                        <option value="5">Cordoba</option>
                                        <option value="6">Corrientes</option>
                                        <option value="7">Rio Negro</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cbLocalidad">Localidad</label>
                                    <select class="form-control form-control-sm" id="cbLocalidad">
                                        <option value="1">Dean Funes</option>
                                        <option value="2">Jesus Maria</option>
                                        <option value="3">Santa Maria de Punilla</option>
                                        <option value="4">Juarez Celman</option>
                                        <option value="5">Guiñazú</option>
                                        <option value="6">San José de la Dormida</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>
}